$gray: #f4f6f8;
$darkgrey: #8b8b8b ;
$lightgray: #f1f1f1;
$black: #000000;
$white: #ffffff;
$orange: #FA9052;
$yellow: #D3FA32;
$red: #FA214E;
$blue: #3CFAF9;
$violate: #A814FA;
$darkblue: #4B48FA;
$lightgreen: #78FA64;
$pink: #FA7AD3;