.pink {
  color: $pink;
}

.darkblue {
  color: $darkblue;
}

.lightgreen {
  color: $lightgreen;
}

.violate {
  color: $violate;
}

.blue {
  color: $blue;
}

.red {
  color: $red;
}

.yellow {
  color: $yellow;
}

.orange {
  color: $orange;
}